
* {
  box-sizing: border-box;
  margin:0;
}
.backgroundimage {
  height: 700px;
  width:100%;
  background-image: url("images\henleyonthames.jpg");
  background-size: cover;
}

.hero {
background-image: url("images\henleyonthames.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:100vh;
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.hero img {
max-width: 200px;
}

body {
font-family: "New Century Schoolbook", Palatino, georgia, serif;

}

img {
max-width:100%;
}

h1 {
margin: 8px 0 4px 0;
color:white;
background-color: rgba(35, 77, 252, 0.7);
padding: 8px;
}

h2 {
font-family: sans-serif;
text-align: center;
background-color: #6582fd;
color:white;
margin-bottom: 8px;
padding:12px 0;
}

.info {
border:1px solid silver;
margin:12px;
padding: 14px 20px;
flex-basis: 300px;
}

.info img {

  width:100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
